footer {
	background-color: #2b2d2e;
	color: #cecece;
	padding: 25px 0;

	section {
		margin-top: 30px;
	}

	h3,
	h4 {
		font-weight: 400;
		margin-top: 10px;
	}

	hr {
		border-top: 1px solid #444;
	}
}
