

.hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eee;
}

.hr-short,
.hr-medium {
	margin: 20px auto;
}

.hr-medium {
	width: 480px;
}

.hr-short {
	width: 280px;
}

.hr-thick {
	border-top: 3px solid #eee;
}

.hr-inverse {
	border-color: #555;
}