.hero-carousel {
	position: relative;

	.hero {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 3;
		color: #fff;
		text-align: center;
		text-shadow: 1px 1px 0 rgba(0,0,0,.75);
		-webkit-transform: translate3d(-50%,-50%,0);
		-moz-transform: translate3d(-50%,-50%,0);
		-ms-transform: translate3d(-50%,-50%,0);
		-o-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
	}

	.carousel-inner .item {
		.item {
			opacity: 0;
			-webkit-transition-property: opacity;
			-moz-transition-property: opacity;
			-o-transition-property: opacity;
			transition-property: opacity;
		}
		
		.item.active {
			opacity: 1;
		}
	}
	
	&-sm {
		height: 35vh;
		.carousel-inner .item { height: 35vh; }
	}

	&-md {
		height: 60vh;
		.carousel-inner .item { height: 60vh; }
	}

	&-lg {
		height: 100vh;
		.carousel-inner .item { height: 100vh; }
	}
}
