$transiton: all 0.65s;

//
// Navbar
// --------------------------------------------------

.navbar-polvo {
	background-color: transparent;
	border-color: transparent;
	-webkit-transition: $transiton;
	-moz-transition: $transiton;
	transition: $transiton;
	
	.navbar-brand {
		color: color('grey', '100');
		font-weight: 700;
		
		&:hover,
		&:focus {
			color: color('grey', '300');
			background-color: transparent;
		}
	}
	
	.navbar-text {
		font-weight: 100;
		color: color('grey', '400');
	}
	
	.nav {
		> li > a {
			color: color('grey', '100');
			background: transparent;
			
			&:hover,
			&:focus {
				color: color('grey', '300');
			}
		}
	}
}

@media (min-width: $screen-md-min) {
	.affix {
		background-color: color('grey', '900');
		border-color: color('grey', '800');
	
		.navbar-header .navbar-brand {
			color: color('grey', '100');
			
			&:hover,
			&:focus {
				color: color('grey', '300');
			}
		}
	}
}