//
// Panels
// --------------------------------------------------


// Panel hint
.panel-hint {
	margin-top: 120px;
}

.panel-hint .panel-hint-heading {
	margin-top: -25px;
}

.panel.with-nav-tabs .panel-heading {
	padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
	border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
	margin-bottom: -1px;
}

