//
// Scaffolding
// --------------------------------------------------

body {
	font-family: $polvo-font-family-base;
	color: color('neutral', 'polvo');
	background-color: color('neutral', 'white');
}


// Horizontal rules
// -------------------------
.hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid color('grey', '100');
	
	&-sm,
	&-md {
		margin: 20px auto;
	}
	
	&-sm {
		width: 280px;
	}
	
	&-md {
		width: 480px;
	}
	
	&-thick {
		border-top: 3px solid color('grey', '800');
	}
	
	&-inverse {
		border-color: color('grey', '100');
	}
}
