//
// Utility classes
// --------------------------------------------------


// Spacers
// -------------------------

.space {
	&-sm {
		margin-top: $space-sm;
		margin-bottom: $space-sm;
	}
	
	&-md {
		margin-top: $space-md;
		margin-bottom: $space-md;
	}
	
	&-lg {
		margin-top: $space-lg;
		margin-bottom: $space-lg;
	}
}

.space-top {
	&-sm {
		margin-top: $space-sm;
	}
	
	&-md {
		margin-top: $space-md;
	}
	
	&-lg {
		margin-top: $space-lg;
	}
}

.space-bottom {
	&-sm {
		margin-bottom: $space-sm;
	}
	
	&-md {
		margin-bottom: $space-md;
	}
	
	&-lg {
		margin-bottom: $space-lg;
	}
}

.inner-space {
	&-sm {
		padding-top: $space-sm;
		padding-bottom: $space-sm;
	}
	
	&-md {
		padding-top: $space-md;
		padding-bottom: $space-md;
	}
	
	&-lg {
		padding-top: $space-lg;
		padding-bottom: $space-lg;
	}
}


// Stretch
// -------------------------
.row-no-padding {
	margin-left: 0;
	margin-right: 0;
	
	[class*="col-"] {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.stretch {
	padding-left: 0;
	padding-right: 0;
}

div.stretch {
	&:first-child {
		padding-left: 15px;
	}
	
	&:last {
		padding-right: 15px;
	}
}


// Vertical align
// -------------------------
.vertical-align {
	display: flex;
	flex-direction: row;
	
	> [class^="col-"],
	> [class*=" col-"] {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


// Overlay
// -------------------------
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	background-color: #080d15;
	opacity: .45;
	
	&-lighten {
		opacity: .25;
	}
	
	&-darken {
		opacity: .75;
	}
}